.icon-button {
  width: 32px !important;
  height: 32px !important;
  padding: 0 !important;
  border-radius: 8px !important;
  color: var(--color-text-2) !important;
  background: transparent !important;

  &:hover {
    background: var(--color-fill-2) !important;
    color: var(--color-text-1) !important;
  }

  > svg {
    font-size: 16px;
    vertical-align: -3px;
  }
}
